{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/images/emblema.png">
	<title>Dezigne</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'adapt/bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'adapt/bootstrap-3.3.7/js/bootstrap.js' %}" rel="stylesheet">
    <link href="{% static 'adapt/bootstrap-3.3.7/css/carousel.css' %}" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'adapt/libs/font-awesome-4.2.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'adapt/libs/fancybox/jquery.fancybox.css' %}">
	<link rel="stylesheet" href="{% static 'adapt/libs/countdown/jquery.countdown.css' %}">

    <!-- Theme CSS -->
	<link rel="stylesheet" href="{% static 'adapt/css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'adapt/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'adapt/css/media.css' %}">
    <!--<link href="{% static 'adapt/css/agency.min.css' %}" rel="stylesheet" -->
</head>

    <!-- NAVBAR
    ================================================== -->

<body>
	<header class="top_header">
					<nav class="main_mnu clearfix">
                        <div class="container">
                            <div class="col-sm-12">
						<button class="main_mnu_button hidden-md hidden-lg"><i class="fa fa-bars" aria-hidden="true"></i></button>
						<ul class="active">
							<li><a href="{% url 'central' %}">Головна</a></li>
							<li><a href="{% url 'services' %}">Послуги</a></li>
							<li><a href="{% url 'portfolios' %}">Портфоліо</a></li>
							<li><a href="{% url 'contacts' %}">Контакти</a></li>
						</ul>
						<div class="top_contacts"><i class="fa fa-mobile" aria-hidden="true"></i> 8-093-77-180-74</div>
					</nav>
	</header>

    <!-- Carousel
    ================================================== -->
    {% include "adapt/carousel.html" %}

    <!-- /.carousel -->

	<main class="myin-content">
    <hr>
		<div class="container">
            <div class="row">
			    <div class="col-sm-12">
					{% block central %}{% endblock %}
					{% block article %}{% endblock %}
					{% block services %}{% endblock %}
					{% block service %}{% endblock %}

                    {% block portfolios %}{% endblock %}

					{% block project %}{% endblock %}
					{% block contacts %}{% endblock %}
				</div>
			</div>
		</div>
    <hr>
	</main>

    <div class=" marketing text-center">
        <footer class="basement">
            <p>2017 &copy All rights reserved by PITER</p>
        </footer>
    </div><!-- /.container -->

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    {% for portfolio in portfolios %}
    <div class="portfolio-modal modal fade" id="{{ portfolio.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{ portfolio.port_title }}</h2>
                                <img class="img-responsive img-centered" src="{{ MEDIA_URL }}{{ portfolio.port_img.url }}" width="360px" height="260px" alt="">
                                <p>{% autoescape off %}{{ portfolio.port_text }}{% endautoescape off %}</p>

                                <ul class="list-inline">
                                    <li>Дата: {{ portfolio.port_data }}</li>
                                    <li>Клієнт: {{ portfolio.port_client }}</li>
                                    <li>Категорія: {{ portfolio.category }}</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрити проект</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


	<!--[if lt IE 9]>
	<script src="{% static 'adapt/libs/html5shiv/es5-shim.min.js' %}"></script>
	<script src="{% static 'adapt/libs/html5shiv/html5shiv.min.js' %}"></script>
	<script src="{% static 'adapt/libs/html5shiv/html5shiv-printshiv.min.js' %}"></script>
	<script src="{% static 'adapt/libs/respond/respond.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'adapt/libs/jquery/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'adapt/libs/jquery-mousewheel/jquery.mousewheel.min.js' %}"></script>
	<script src="{% static 'adapt/libs/fancybox/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'adapt/libs/waypoints/waypoints-1.6.2.min.js' %}"></script>
	<script src="{% static 'adapt/libs/scrollto/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'adapt/libs/countdown/jquery.plugin.js' %}"></script>
	<script src="{% static 'adapt/libs/countdown/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'adapt/libs/countdown/jquery.countdown-ru.js' %}"></script>
	<script src="{% static 'adapt/libs/landing-nav/navigation.js' %}"></script>
	<script src="{% static 'adapt/js/common.js' %}"></script>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'adapt/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'adapt/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript-->
    <script type="text/javascript" src="{% static 'adapt/js/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'adapt/js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script type="text/javascript" src="{% static 'adapt/js/agency.min.js' %}"></script>

	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>

